extends layout

block content
	div.submissions
		for submission in submissions
			.submission
				h2 #{submission.title}
				iframe(width="560", height="315", src='#{submission.url}', frameborder="0", allowfullscreen)
				p Description: 
				p #{submission.description}
				p Submited by: 
				p #{submission.name}