extends layout

block content
	div.submissions
		for submission in submissions
			.submission
				h2 #{submission.title}
				p #{submission.url}
				p #{submission.description}
				p #{submission.submitter}