extends layout

block content
	div.contest-over
		h1 THE CONTEST IS OVER! 
		h1 Please go to the submissions page and vote.

	div.view-submissions
		a(action='sumbissions', href='submissions') View Submissions